*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 3px green solid;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
}

.bgbox{
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
    
.left{
    width: 30%;
    background-image: url("./images/bg-main-desktop.png");
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    width: 70%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: absolute;
    width: 447px;
    height: 245px;
    border-radius: 3%;
    right: 0%;
    top: 50%;
}
.front{
    background-image: url("./images/bg-card-front.png");
    transform: translate(10%,-140%);
}
.back{
    background-image: url("./images/bg-card-back.png");
    transform: translate(50%, -10%);
}
form *{
    margin: 5px;
}
#CVC{
    margin-left: 9px;
}
.small{
    width: 50px;
}
.medium{
    width: 176px;
}
.large{
    width: 300px;
}
input[type="submit"]{
    width: 300px;
}