*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

.bgbox{
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
    
.left{
    width: 30%;
    background-image: url("./images/bg-main-desktop.png");
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    width: 70%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: absolute;
    width: calc(447px * 0.85);
    height: calc(245px * 0.85);
    border-radius: 3%;
}
.front{
    background-image: url("./images/bg-card-front.png");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    top: 18%;
    right: 0%;
    transform: translate(20%, 0);
}
.back{
    background-image: url("./images/bg-card-back.png");
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    top: 50%;
    right: 0%;
    transform: translate(50%, 0);
}
.front *{
    position: absolute;
    color: hsl(0, 0%, 100%);
}

.front .dcardnumber{
    top: 56%;
    left: 8%;
    font-size: 22px;
    letter-spacing: 0.12em;
}

.front .dcardholder, .dexpdate{
    top: 81%;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: hsl(270, 3%, 87%);
}

.back .dcvc{
    position: absolute;
    color: hsl(0, 0%, 100%);
    top: 46%;
    right: 13%;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.front .banklogo{
    transform: scale(80%);
    top: 8%;
    left: 5%;
}

.front .dcardholder{
    left: 8%;
}
.front .dexpdate{
    left: 82%;
}


form input[type="text"]{
    border-radius: 8px;
    text-indent: 1em;
    margin: 0px 5px 28px 5px;
    height: 40px;
    font-size: 16px;
    padding: 0;
    outline: none;
    border: 1px solid hsl(270, 3%, 87%);
}
form input[type="text"]:focus{
    /* gradient border */
    border: 1px solid transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(90deg, hsl(249, 99%, 64%),hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

form label{
    font-size: 11px;
    letter-spacing: 0.2em;
}

#CVC{
    margin-left: 9px;
}
.small{
    width: 70px;
}
.medium{
    width: 186px;
}
.large{
    width: 350px;
}
input[type="submit"]{    
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    height: 44px;
    font-size: 16px;
    margin: 5px;
    border-radius: 8px;
}
input:not(:focus):not(:placeholder-shown):invalid{
    border: 1px solid hsl(0, 100%, 66%);
}
form input[type="text"]:valid{
    outline: 10px solid hsl(270, 3%, 87%);
}